Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [1]:
a = ['abc',[1,2,3],3.5,(2,5)]
a

['abc', [1, 2, 3], 3.5, (2, 5)]

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.


What will be the data type of the above given variable.

In [6]:
var1 = ' '

var2 = '[ DS , ML , Python]'

var3 = [ 'DS' , 'ML' , 'Python' ]

var4 = 1

In [9]:
print(' type(var1) = ',type(var1))
print(' type(var2) = ',type(var2))
print(' type(var3) = ',type(var3))
print(' type(var4) = ',type(var4))

 type(var1) =  <class 'str'>
 type(var2) =  <class 'str'>
 type(var3) =  <class 'list'>
 type(var4) =  <class 'int'>

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %
(iii) //

(iv) **

In [19]:
print('/ is division operator use : 40/5 = ',40/5)
print('% is modulo operator use to returns the remainder of division : 40%5 = ',41%5)
print('// is floor division : 40//5 = ',41//5)
print('** is power operator',2**3)

/ is division operator use : 40/5 =  8.0
% is modulo operator use to returns the remainder of division : 40%5 =  1
// is floor division : 40//5 =  8
** is power operator 8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [5]:
l = [10,5.2,'abc',(2,3),{5,6},True,{'x':2,'y':3},"xyz",5+6j,[5,6,7]]

for i in l:
    print(type(i))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'set'>
<class 'bool'>
<class 'dict'>
<class 'str'>
<class 'complex'>
<class 'list'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [20]:
while True:
    A = int(input("Enter 1st number = "))
    B = int(input("Enter 2nd number = "))
    if A%B == 0:
        print(int(A/B))
        break;
    else:
        print(f"\n{A} is not purely divisible by {B}. \n try again... \n")

Enter 1st number =  16
Enter 2nd number =  9

16 is not purely divisible by 9.
 try again...

Enter 1st number =  20
Enter 2nd number =  2

10

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [18]:
l = [i for i in range(1,26)]

for i in l:
    if i%3==0:
        print(f" {i} is divisible by 3.")
    else:
        print(f" {i} is not divisible by 3.")

 1 is not divisible by 3.
 2 is not divisible by 3.
 3 is divisible by 3.
 4 is not divisible by 3.
 5 is not divisible by 3.
 6 is divisible by 3.
 7 is not divisible by 3.
 8 is not divisible by 3.
 9 is divisible by 3.
 10 is not divisible by 3.
 11 is not divisible by 3.
 12 is divisible by 3.
 13 is not divisible by 3.
 14 is not divisible by 3.
 15 is divisible by 3.
 16 is not divisible by 3.
 17 is not divisible by 3.
 18 is divisible by 3.
 19 is not divisible by 3.
 20 is not divisible by 3.
 21 is divisible by 3.
 22 is not divisible by 3.
 23 is not divisible by 3.
 24 is divisible by 3.
 25 is not divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [25]:
# Mutable = It means their individual characterselements can be changed once they are created.
# Immutable = It means their individual characters cannot be changed once they are created.

'''
Mutable Data Types: List, Dictionary, Set

Immutable Data Types: Integer, Float, String, Tuple, FrozenSet, Boolean, Range, Bytes
'''

l = [1,5,6.3,'abc']
print(f"original l = {l}")
l[-1] = True
print(f"Modified l = {l}")

s = 'abc'
print(f"original s = {s}")
s[0]='x'
print(s)

original l = [1, 5, 6.3, 'abc']
Modified l = [1, 5, 6.3, True]
original s = abc

TypeError: 'str' object does not support item assignment